html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}
body {
  max-width: 1200px;
  background-color: #CCCCCC;
  display: table-cell;
  vertical-align: middle;
}
figure {
  display: inline-block;
}

table {
  margin-top: 100px;
  margin-right: 50px;
  border-collapse: collapse;
  border: solid black 1px;
}

td {
  border: solid black 1px;
}

th {
  border: solid black 1px;
}

img {
  max-height: 300px;
}

h2 {

}

ul {
  list-style: none
}