html, body {
  height: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

html {
  display: table;
  margin: auto;
}
body {
  max-width: 1200px;
  background-color: white;
  display: table-cell;
  vertical-align: middle;
}
figure {
  display: inline-block;
}

table {
  margin-top: 100px;
  margin-right: 50px;
  border-collapse: collapse;
  border: solid black 1px;
}

td {
  border: solid black 1px;
}

th {
  border: solid black 1px;
}

img {
  max-width: 256px;
}

ul {
  list-style: none
}
.button {
  background-color: #ffccff; /* Green */
  border: 1px solid black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  color: black;
  padding: 10px;
  margin: 10px;
}

h1 {


}